h2{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}
.container
{
  text-align: center;
  font-weight: bold;
  font-family: Verdana;
  font-size: 20px;
  margin-top: 5%;
    
}
.container div{
    margin: 10px;
    
}
.container a{
    text-decoration: none;
}
.container table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 5s0%;
}

.container input[type=submit]{
    font-family: "Courier new";
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:blue;
}
